* {
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
    color: #FFF;
    background-color: #000;
    text-align: center;
}

body .wrapper {
    display: flex;
    justify-content: space-around;
}

.color-fizzbuzz {
    color: rgb(255, 0, 0);
}

.color-fizz {
    color: rgb(0, 255, 0);
}

.color-buzz {
    color: rgb(0, 0, 255);
}
